<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <File name="defaultAppender" filename="log.txt">
            <PatternLayout pattern="%date{DEFAULT} %-5level %message\n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="defaultAppender"/>
        </Root>
    </Loggers>
</Configuration>